* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, "Microsoft YaHei", Verdana, Tahoma, Arial, "Hiragino Sans GB"; }

.fl {
  float: left; }

.fr {
  float: right; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p:hover,
h1:hover,
h2:hover {
  cursor: default; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  *zoom: 1; }

.contain nav {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  line-height: 0;
  font-size: 0; }
.contain .logo_box {
  display: inline-block;
  vertical-align: top;
  text-align: center; }
  .contain .logo_box .logo {
    height: 60px;
    width: auto; }
.contain .nav_bs {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -moz-box-shadow: 0px 0px 6px #555;
  box-shadow: 0px 0px 6px #555;
  background-color: #fff; }
.contain .nav_box {
  display: inline-block;
  margin-left: 133px;
  vertical-align: top; }
  .contain .nav_box .nav_ul {
    display: block;
    width: 940px;
    padding: 0 10px;
    position: relative; }
    .contain .nav_box .nav_ul dl {
      width: 940px;
      height: 3px;
      position: absolute;
      bottom: 3px;
      left: 10px; }
      .contain .nav_box .nav_ul dl .solid {
        width: 156px;
        height: 3px;
        background-color: #e9b300; }
      .contain .nav_box .nav_ul dl .solid {
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.5s; }
    .contain .nav_box .nav_ul li {
      display: inline-block;
      width: 156px;
      height: 60px;
      position: relative; }
      .contain .nav_box .nav_ul li:hover .posi_ul {
        display: block; }
      .contain .nav_box .nav_ul li .posi_ul {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0; }
        .contain .nav_box .nav_ul li .posi_ul li {
          background-color: rgba(255, 255, 255, 0.8);
          margin-top: 1px; }
      .contain .nav_box .nav_ul li a {
        display: block;
        text-align: center;
        line-height: 60px;
        font-size: 20px;
        color: #333;
        font-weight: bold;
        position: relative; }
        .contain .nav_box .nav_ul li a:hover {
          color: #e9b300; }
.contain .change_lan {
  display: inline-block;
  vertical-align: top; }
.contain .ly {
  background-color: #fff;
  padding: 50px 0; }
  .contain .ly .hl_box {
    width: 1200px;
    margin: 0 auto;
    height: auto; }
    .contain .ly .hl_box h1 {
      margin-top: 50px;
      text-align: center;
      display: block;
      position: relative; }
      .contain .ly .hl_box h1 span {
        font-size: 26px;
        color: #e9b300;
        margin-left: 10px; }
      .contain .ly .hl_box h1 :after {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to right, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        right: 0; }
      .contain .ly .hl_box h1 :before {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to left, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        left: 0; }
    .contain .ly .hl_box .ly_b {
      width: 1200px;
      margin: 50px auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      transition: transform 0.3s ease-in; }
      .contain .ly .hl_box .ly_b .ly_d {
        width: 300px;
        height: 450px;
        background-color: #fff;
        -moz-box-shadow: 0px 0px 6px #ccc;
        box-shadow: 0px 0px 6px #ccc;
        text-align: center;
        padding: 20px 10px; }
        .contain .ly .hl_box .ly_b .ly_d h2 {
          margin-top: 10px;
          font-weight: normal;
          font-size: 22px; }
        .contain .ly .hl_box .ly_b .ly_d > p {
          font-size: 18px;
          line-height: 26px;
          padding: 30px 10px;
          text-indent: 34px;
          text-align: left; }
        .contain .ly .hl_box .ly_b .ly_d:hover {
          cursor: pointer;
          transform: scale(1.02); }
.contain .jj {
  background-color: #fff;
  padding: 70px 0 100px; }
  .contain .jj .jj_box {
    margin: 0 auto;
    width: 1200px;
    height: auto; }
    .contain .jj .jj_box .ns_img {
      width: 400px;
      height: auto; }
      .contain .jj .jj_box .ns_img img {
        width: 350px;
        height: auto; }
  .contain .jj .com_box {
    width: 800px;
    padding: 20px 20px 0;
    box-sizing: border-box;
    text-align: center; }
    .contain .jj .com_box h2 {
      position: relative;
      display: inline; }
      .contain .jj .com_box h2 i {
        position: absolute;
        top: 0;
        left: -10px;
        display: block;
        width: 3px;
        height: 30px;
        background-color: #e9b300; }
    .contain .jj .com_box p {
      padding: 15px 20px;
      text-indent: 34px;
      font-size: 18px;
      margin-top: 30px;
      line-height: 30px;
      text-align: left; }
    .contain .jj .com_box .com_i_b {
      margin: 30px auto 0; }
      .contain .jj .com_box .com_i_b img {
        height: 171px;
        width: auto; }
.contain .cx {
  width: 100%;
  height: 500px;
  background: url("../images/js.png") no-repeat center;
  text-align: center;
  padding: 70px 0;
  box-sizing: border-box; }
  .contain .cx h1 {
    font-size: 36px;
    line-height: 40px;
    color: #e9b300; }
  .contain .cx p {
    width: 1200px;
    height: auto;
    font-size: 18px;
    line-height: 40px;
    color: #333;
    margin: 40px auto;
    text-align: left;
    text-indent: 34px;
    color: #fff;
    padding: 10px 30px; }
  .contain .cx a {
    display: block;
    margin: 0 auto;
    width: 140px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 19px; }
    .contain .cx a:hover {
      color: #e9b300;
      cursor: pointer;
      border-color: #e9b300; }
.contain .ln {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: #f4f4f4; }
  .contain .ln .ln_box {
    width: 1200px;
    height: auto;
    margin: 0 auto; }
    .contain .ln .ln_box h1 {
      margin-top: 50px;
      text-align: center;
      display: block;
      position: relative; }
      .contain .ln .ln_box h1 span {
        font-size: 26px;
        color: #e9b300;
        margin-left: 10px; }
      .contain .ln .ln_box h1 :after {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to right, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        right: 0; }
      .contain .ln .ln_box h1 :before {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to left, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        left: 0; }
    .contain .ln .ln_box .ln_i_b {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px; }
      .contain .ln .ln_box .ln_i_b .ip {
        margin-top: 50px; }
        .contain .ln .ln_box .ln_i_b .ip p {
          margin-top: 20px;
          text-align: center;
          font-weight: bold;
          font-size: 18px; }
        .contain .ln .ln_box .ln_i_b .ip img {
          width: 100%;
          height: auto;
          transition: all 0.5s; }
        .contain .ln .ln_box .ln_i_b .ip:hover {
          cursor: pointer; }
          .contain .ln .ln_box .ln_i_b .ip:hover img {
            transform: rotateY(180deg); }
.contain .footer {
  width: 100%;
  height: 50px;
  background-color: #595959; }
  .contain .footer .fot_box {
    width: 1200px;
    margin: 0 auto;
    height: 50px;
    background-color: #595959;
    text-align: center; }
    .contain .footer .fot_box span {
      font-size: 14px;
      line-height: 50px;
      color: #fff;
      margin: 0 5px; }
.contain .about_box .bg_box {
  width: 100%;
  height: 500px;
  background: url("../images/about_one.jpg") no-repeat center center; }
.contain .about_box .com_z_box {
  padding: 70px 0;
  background-color: #f4f4f4; }
  .contain .about_box .com_z_box .com_int {
    width: 1200px;
    height: auto;
    margin: 0 auto; }
    .contain .about_box .com_z_box .com_int h1 {
      margin-top: 50px;
      text-align: center;
      display: block;
      position: relative; }
      .contain .about_box .com_z_box .com_int h1 span {
        font-size: 26px;
        color: #e9b300;
        margin-left: 10px; }
      .contain .about_box .com_z_box .com_int h1 :after {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to right, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        right: 0; }
      .contain .about_box .com_z_box .com_int h1 :before {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to left, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        left: 0; }
    .contain .about_box .com_z_box .com_int p {
      font-size: 18px;
      line-height: 40px;
      color: #333;
      margin: 40px auto;
      text-align: left;
      text-indent: 34px;
      color: #333;
      padding: 10px 30px; }
.contain .about_box .com_det {
  width: 100%;
  height: 400px;
  background: url("../images/about_two.jpg") no-repeat center center; }
  .contain .about_box .com_det .com_d_w {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .contain .about_box .com_det .com_d_w .com_d_l {
      width: 825px;
      height: 300px; }
      .contain .about_box .com_det .com_d_w .com_d_l .lbl {
        width: 325px;
        height: 300px;
        background-color: rgba(233, 179, 0, 0.7);
        text-align: center; }
        .contain .about_box .com_det .com_d_w .com_d_l .lbl img {
          margin-top: 50px; }
        .contain .about_box .com_det .com_d_w .com_d_l .lbl p {
          font-size: 26px;
          line-height: 30px;
          color: #fff;
          text-align: center;
          margin-top: 30px; }
      .contain .about_box .com_det .com_d_w .com_d_l .lbr {
        width: 500px;
        height: 300px;
        background-color: #fff;
        padding: 50px 30px;
        box-sizing: border-box;
        text-align: center; }
        .contain .about_box .com_det .com_d_w .com_d_l .lbr h2 {
          font-size: 30px;
          line-height: 30px;
          text-align: center;
          display: inline-block;
          vertical-align: top; }
          .contain .about_box .com_det .com_d_w .com_d_l .lbr h2 i {
            vertical-align: top;
            display: inline-block;
            width: 3px;
            height: 30px;
            background-color: #e9b300;
            margin-right: 10px; }
        .contain .about_box .com_det .com_d_w .com_d_l .lbr p {
          margin: 30px 0;
          font-size: 18px;
          line-height: 26px;
          text-indent: 34px;
          font-family: "Microsoft Yahei";
          text-align: left; }
    .contain .about_box .com_det .com_d_w .com_d_r {
      width: 350px;
      box-sizing: border-box;
      background-color: #fff; }
      .contain .about_box .com_det .com_d_w .com_d_r ul li {
        list-style: none;
        width: 100%;
        height: 75px;
        font-size: 24px;
        line-height: 75px;
        text-align: center;
        color: #333; }
        .contain .about_box .com_det .com_d_w .com_d_r ul li:hover {
          cursor: pointer;
          background-color: rgba(233, 179, 0, 0.8);
          color: #fff; }
      .contain .about_box .com_det .com_d_w .com_d_r ul .act {
        background-color: #f6f6f6; }
.contain .about_box .team_box {
  padding: 0 0 30px;
  background-color: #fff; }
  .contain .about_box .team_box .team {
    width: 1200px;
    height: auto;
    margin: 0 auto; }
    .contain .about_box .team_box .team h1 {
      text-align: center;
      display: block;
      position: relative; }
      .contain .about_box .team_box .team h1 span {
        font-size: 26px;
        color: #e9b300;
        margin-left: 10px; }
      .contain .about_box .team_box .team h1 :after {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to right, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        right: 0; }
      .contain .about_box .team_box .team h1 :before {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to left, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        left: 0; }
    .contain .about_box .team_box .team .t_box {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: top;
      justify-content: space-between; }
      .contain .about_box .team_box .team .t_box .t_l_b {
        margin: 50px 0;
        width: 300px;
        height: auto;
        text-align: center; }
        .contain .about_box .team_box .team .t_box .t_l_b img {
          width: 300px;
          margin-top: 20px; }
        .contain .about_box .team_box .team .t_box .t_l_b h2 {
          margin: 20px 0; }
        .contain .about_box .team_box .team .t_box .t_l_b p {
          font-size: 16px;
          line-height: 24px; }
.contain .about_box .pi_t_box {
  padding: 70px 0 30px; }
  .contain .about_box .pi_t_box .pi_t {
    width: 1200px;
    height: auto;
    margin: 0 auto; }
    .contain .about_box .pi_t_box .pi_t h1 {
      text-align: center;
      display: block;
      position: relative; }
      .contain .about_box .pi_t_box .pi_t h1 span {
        font-size: 26px;
        color: #e9b300;
        margin-left: 10px; }
      .contain .about_box .pi_t_box .pi_t h1 :after {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to right, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        right: 0; }
      .contain .about_box .pi_t_box .pi_t h1 :before {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to left, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        left: 0; }
    .contain .about_box .pi_t_box .pi_t .sp {
      margin: 70px 0; }
      .contain .about_box .pi_t_box .pi_t .sp table tbody {
        width: 1200px;
        display: block; }
        .contain .about_box .pi_t_box .pi_t .sp table tbody tr {
          width: 1200px;
          display: block;
          overflow: hidden; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr .ty {
            width: 25%;
            border: 1px solid #ccc;
            display: block;
            float: left;
            box-sizing: border-box;
            padding: 30px 0; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th div {
            margin-top: 10px;
            width: 84px;
            height: 84px;
            display: inline-block; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th p {
            margin-top: 10px; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th .bd {
            background: url("../images/icon/bd.png") center center; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th .gw {
            background: url("../images/icon/gw.png") center center; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th .gzh {
            background: url("../images/icon/gzh.png") center center; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th .dy {
            background: url("../images/icon/dy.png") center center; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th .ks {
            background: url("../images/icon/ks.png") center center; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th .tt {
            background: url("../images/icon/tt.png") center center; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th .qq {
            background: url("../images/icon/qq.png") center center; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th .xl {
            background: url("../images/icon/wb.png") center center; }
          .contain .about_box .pi_t_box .pi_t .sp table tbody tr th:hover {
            cursor: pointer; }
            .contain .about_box .pi_t_box .pi_t .sp table tbody tr th:hover .bd {
              background: url("../images/icon/bd_h.png") center center; }
            .contain .about_box .pi_t_box .pi_t .sp table tbody tr th:hover .gw {
              background: url("../images/icon/gw_h.png") center center; }
            .contain .about_box .pi_t_box .pi_t .sp table tbody tr th:hover .gzh {
              background: url("../images/icon/gzh_h.png") center center; }
            .contain .about_box .pi_t_box .pi_t .sp table tbody tr th:hover .dy {
              background: url("../images/icon/dy_h.png") center center; }
            .contain .about_box .pi_t_box .pi_t .sp table tbody tr th:hover .ks {
              background: url("../images/icon/ks_h.png") center center; }
            .contain .about_box .pi_t_box .pi_t .sp table tbody tr th:hover .tt {
              background: url("../images/icon/tt_h.png") center center; }
            .contain .about_box .pi_t_box .pi_t .sp table tbody tr th:hover .qq {
              background: url("../images/icon/qq_h.png") center center; }
            .contain .about_box .pi_t_box .pi_t .sp table tbody tr th:hover .xl {
              background: url("../images/icon/wb_h.png") center center; }
.contain .product_box .bg_box {
  width: 100%;
  height: 500px;
  background: url("../images/pro_one.png") no-repeat center center; }
.contain .product_box .slwt_box {
  width: 100%;
  height: auto;
  padding: 70px 0;
  background-color: #fff; }
  .contain .product_box .slwt_box .slwt {
    width: 1200px;
    height: auto;
    margin: 0 auto; }
    .contain .product_box .slwt_box .slwt h1 {
      text-align: center;
      display: block;
      position: relative; }
      .contain .product_box .slwt_box .slwt h1 span {
        font-size: 26px;
        color: #e9b300;
        margin-left: 10px; }
      .contain .product_box .slwt_box .slwt h1 :after {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to right, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        right: 0; }
      .contain .product_box .slwt_box .slwt h1 :before {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to left, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        left: 0; }
    .contain .product_box .slwt_box .slwt .echart_box {
      margin: 50px 0 0;
      width: 100%;
      height: 450px; }
      .contain .product_box .slwt_box .slwt .echart_box .cir {
        width: 50%;
        height: 450px; }
    .contain .product_box .slwt_box .slwt #container_one {
      margin-top: 24px; }
    .contain .product_box .slwt_box .slwt p {
      text-align: center;
      margin-top: 10px;
      color: #4b4b4b; }
    .contain .product_box .slwt_box .slwt h2 {
      margin: 30px 0 0;
      text-align: center;
      font-weight: normal; }
.contain .product_box .pp_bg {
  background: url("../images/pp_bg.png") no-repeat center; }
  .contain .product_box .pp_bg .slwt h1 {
    text-align: center;
    display: block;
    position: relative;
    color: #fff; }
    .contain .product_box .pp_bg .slwt h1 span {
      font-size: 26px;
      color: #e9b300;
      margin-left: 10px; }
    .contain .product_box .pp_bg .slwt h1 :after {
      display: block;
      width: 400px;
      height: 1px;
      background-image: linear-gradient(to right, #e9b300, #fff);
      content: "";
      position: absolute;
      top: 50%;
      right: 0; }
    .contain .product_box .pp_bg .slwt h1 :before {
      display: block;
      width: 400px;
      height: 1px;
      background-image: linear-gradient(to left, #e9b300, #fff);
      content: "";
      position: absolute;
      top: 50%;
      left: 0; }
  .contain .product_box .pp_bg .p_con {
    width: 600px;
    height: auto;
    display: block; }
    .contain .product_box .pp_bg .p_con dt {
      font-size: 30px;
      line-height: 30px;
      margin: 100px 0 30px;
      color: #fff; }
    .contain .product_box .pp_bg .p_con dd {
      font-size: 20px;
      line-height: 26px;
      margin: 20px 0;
      color: #fff; }
  .contain .product_box .pp_bg .cp {
    padding: 50px 0 30px; }
    .contain .product_box .pp_bg .cp img {
      width: 500px;
      height: auto; }
.contain .product_box .tran_box {
  width: 100%;
  height: 690px;
  background: url(../images/cir_bg.png) no-repeat center center;
  position: relative; }
  .contain .product_box .tran_box .tran {
    width: 1200px;
    height: 600px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .contain .product_box .tran_box .tran .cir {
      position: relative;
      width: 600px;
      height: 570px; }
      .contain .product_box .tran_box .tran .cir .cir_l {
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/i-hcircle.png) no-repeat center center;
        background-size: 100%;
        width: 540px;
        height: 540px;
        margin: 50px 0 0 30px;
        animation: hcircle 8s linear 0s infinite;
        -webkit-animation: hcircle 8s linear 0s infinite;
        -moz-animation: hcircle 8s linear 0s infinite;
        -o-animation: hcircle 8s linear 0s infinite; }
      .contain .product_box .tran_box .tran .cir .l_c {
        position: absolute;
        display: block;
        width: 120px;
        height: 120px;
        background: url(../images/i-hcbg.png) no-repeat center center;
        background-size: 100%;
        animation: hcircle 8s linear 0s infinite;
        -webkit-animation: hcircle 8s linear 0s infinite;
        -moz-animation: hcircle 8s linear 0s infinite;
        -o-animation: hcircle 8s linear 0s infinite; }
      .contain .product_box .tran_box .tran .cir .l_ci_o {
        top: 0;
        left: 240px; }
      .contain .product_box .tran_box .tran .cir .l_ci_t {
        top: 345px;
        left: 0; }
      .contain .product_box .tran_box .tran .cir .l_ci_h {
        top: 345px;
        left: 485px; }
      .contain .product_box .tran_box .tran .cir .l_c_s {
        position: absolute;
        color: #1489d3;
        font: normal 600 26px/119px arial, sans-serif;
        z-index: 100; }
      .contain .product_box .tran_box .tran .cir .c_s_o {
        left: 274px;
        top: 0; }
      .contain .product_box .tran_box .tran .cir .c_s_t {
        left: 518px;
        top: 345px; }
      .contain .product_box .tran_box .tran .cir .c_s_h {
        left: 35px;
        top: 345px; }
      .contain .product_box .tran_box .tran .cir .child {
        width: 150px;
        height: 400px;
        background: url(../images/child.png) no-repeat center center;
        background-size: 100%;
        position: absolute;
        top: 121px;
        left: 223px; }
@keyframes hcircle {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes hcircle {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes hcircle {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-o-keyframes hcircle {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(360deg); } }
    .contain .product_box .tran_box .tran .tran_text {
      width: 600px;
      height: 600px;
      box-sizing: border-box;
      padding: 40px 20px 40px 50px; }
      .contain .product_box .tran_box .tran .tran_text h2 {
        font-size: 36px;
        color: #fff;
        margin: 100px auto 60px;
        text-align: left; }
      .contain .product_box .tran_box .tran .tran_text ul li {
        list-style: none;
        color: #fff;
        margin: 15px;
        font-size: 20px;
        line-height: 26px; }
.contain .product_box .pj_box {
  background-color: #fff;
  width: 100%;
  padding: 70px 0; }
  .contain .product_box .pj_box .pj {
    width: 1200px;
    height: auto;
    margin: 0 auto; }
    .contain .product_box .pj_box .pj h1 {
      text-align: center;
      display: block;
      position: relative;
      color: #333; }
      .contain .product_box .pj_box .pj h1 span {
        font-size: 26px;
        color: #e9b300;
        margin-left: 10px; }
      .contain .product_box .pj_box .pj h1 :after {
        display: block;
        width: 400px;
        height: 1px;
        background-image: linear-gradient(to right, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        right: 0; }
      .contain .product_box .pj_box .pj h1 :before {
        display: block;
        width: 400px;
        height: 1px;
        background-image: linear-gradient(to left, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        left: 0; }
    .contain .product_box .pj_box .pj .pjd {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px; }
    .contain .product_box .pj_box .pj .pjd_de {
      position: relative;
      width: 265px;
      height: 225px;
      margin-top: 30px;
      overflow: hidden;
      border-radius: 10px; }
      .contain .product_box .pj_box .pj .pjd_de .pj_t {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 22px;
        line-height: 40px;
        text-align: center; }
.contain .news_box .bg_box {
  width: 100%;
  height: 500px;
  background: url("../images/news_bg.png") no-repeat center center; }
.contain .news_box .intr_box {
  padding: 50px 0;
  background-color: #f4f4f4; }
  .contain .news_box .intr_box .intr_con {
    width: 1200px;
    height: auto;
    margin: 0 auto; }
    .contain .news_box .intr_box .intr_con h1 {
      margin-top: 50px;
      text-align: center;
      display: block;
      position: relative; }
      .contain .news_box .intr_box .intr_con h1 span {
        font-size: 26px;
        color: #e9b300;
        margin-left: 10px; }
      .contain .news_box .intr_box .intr_con h1 :after {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to right, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        right: 0; }
      .contain .news_box .intr_box .intr_con h1 :before {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to left, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        left: 0; }
    .contain .news_box .intr_box .intr_con .new_lis {
      margin: 40px auto; }
      .contain .news_box .intr_box .intr_con .new_lis .lis {
        background-color: #fff;
        padding: 30px 30px 25px;
        border-bottom: 1px solid #e6e6e6; }
        .contain .news_box .intr_box .intr_con .new_lis .lis .time_li {
          width: 15%;
          float: left; }
          .contain .news_box .intr_box .intr_con .new_lis .lis .time_li span {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            line-height: 16px;
            color: #bac4ca; }
          .contain .news_box .intr_box .intr_con .new_lis .lis .time_li .time_bg {
            display: inline-block;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            background: url("../images/icon-date.png") no-repeat center center;
            background-size: 100%;
            margin-right: 10px; }
        .contain .news_box .intr_box .intr_con .new_lis .lis .new_im {
          width: 35%;
          float: left; }
          .contain .news_box .intr_box .intr_con .new_lis .lis .new_im img {
            width: 300px;
            height: 180px;
            margin-left: 10px; }
        .contain .news_box .intr_box .intr_con .new_lis .lis .det_new {
          width: 50%;
          float: left; }
          .contain .news_box .intr_box .intr_con .new_lis .lis .det_new .p_tit {
            font-size: 22px;
            line-height: 22px;
            color: #000; }
          .contain .news_box .intr_box .intr_con .new_lis .lis .det_new .p_cont {
            font-size: 14px;
            color: #000;
            line-height: 26px;
            text-align: justify;
            margin-top: 10px; }
          .contain .news_box .intr_box .intr_con .new_lis .lis .det_new a {
            display: block;
            float: right;
            font-size: 14px;
            color: #e9b300;
            padding: 10px 15px;
            border: 1px solid #e9b300;
            border-radius: 5px;
            margin-top: 10px; }
            .contain .news_box .intr_box .intr_con .new_lis .lis .det_new a:hover {
              background-color: #e9b300;
              color: #fff; }
.contain .news_info_box .bg_box {
  width: 100%;
  height: 500px;
  background: url("../images/news_bg.png") no-repeat center center; }
.contain .news_info_box .news_box {
  width: 1200px;
  height: auto;
  margin: 30px auto; }
  .contain .news_info_box .news_box .recom {
    width: 400px;
    height: auto; }
    .contain .news_info_box .news_box .recom .pad_h3 {
      position: relative;
      padding-left: 10px; }
      .contain .news_info_box .news_box .recom .pad_h3:after {
        position: absolute;
        content: "";
        display: block;
        width: 4px;
        height: 24px;
        top: 1px;
        left: 0px;
        background: #e9b300; }
    .contain .news_info_box .news_box .recom .tj_list {
      padding-left: 20px;
      list-style: square inside;
      margin-top: 20px; }
      .contain .news_info_box .news_box .recom .tj_list li {
        list-style: circle;
        font-size: 14px;
        position: relative;
        list-style-position: inside;
        margin-bottom: 10px; }
        .contain .news_info_box .news_box .recom .tj_list li a {
          color: #888;
          display: inline-block;
          padding: 5px 0; }
          .contain .news_info_box .news_box .recom .tj_list li a:hover {
            color: #e9b300; }
            .contain .news_info_box .news_box .recom .tj_list li a:hover p {
              cursor: pointer; }
  .contain .news_info_box .news_box .new_con {
    width: 800px;
    height: auto;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    padding-left: 40px; }
    .contain .news_info_box .news_box .new_con #dom_h1 {
      font-size: 28px;
      font-weight: 500;
      text-align: center; }
    .contain .news_info_box .news_box .new_con #dom_h {
      text-align: center;
      color: #ccc;
      font-size: 12px;
      margin: 0;
      margin-top: 5px; }
    .contain .news_info_box .news_box .new_con #contentNew {
      text-align: center; }
      .contain .news_info_box .news_box .new_con #contentNew img {
        width: 100%;
        height: auto;
        margin: 25px 0; }
      .contain .news_info_box .news_box .new_con #contentNew h2 {
        margin-top: 30px;
        text-align: center; }
        .contain .news_info_box .news_box .new_con #contentNew h2 span {
          text-align: center;
          position: relative; }
          .contain .news_info_box .news_box .new_con #contentNew h2 span:after {
            position: absolute;
            top: 3px;
            left: -10px;
            content: "";
            display: block;
            width: 4px;
            height: 24px;
            background-color: #e9b300; }
      .contain .news_info_box .news_box .new_con #contentNew p {
        text-indent: 25px;
        text-align: left;
        margin: 15px 0;
        font-size: 16px;
        line-height: 26px; }
      .contain .news_info_box .news_box .new_con #contentNew .t-tool a {
        display: inline-block;
        border-radius: 8px;
        border: 1px solid #ccc;
        background: #fff;
        color: #444;
        width: 90px;
        text-align: center;
        font-size: 14px;
        height: 28px;
        line-height: 26px; }
        .contain .news_info_box .news_box .new_con #contentNew .t-tool a:hover {
          color: #e9b300;
          border: 1px solid #e9b300; }
.contain .duty_box .bg_box {
  width: 100%;
  height: 500px;
  background: url("../images/dc_bg.png") no-repeat center center; }
.contain .duty_box .zst {
  width: 100%;
  height: 350px;
  background: url("../images/zst.png") no-repeat center center; }
.contain .duty_box .duty_c {
  width: 100%; }
  .contain .duty_box .duty_c .dc {
    width: 1200px;
    height: auto;
    margin: 70px auto; }
    .contain .duty_box .duty_c .dc h1 {
      text-align: center;
      display: block;
      position: relative; }
      .contain .duty_box .duty_c .dc h1 span {
        font-size: 26px;
        color: #e9b300;
        margin-left: 10px; }
      .contain .duty_box .duty_c .dc h1 :after {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to right, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        right: 0; }
      .contain .duty_box .duty_c .dc h1 :before {
        display: block;
        width: 450px;
        height: 1px;
        background-image: linear-gradient(to left, #e9b300, #fff);
        content: "";
        position: absolute;
        top: 50%;
        left: 0; }
.contain .duty_box .cha_box .charity {
  width: 1200px;
  height: auto;
  margin: 90px auto; }
  .contain .duty_box .cha_box .charity h1 {
    text-align: center;
    display: block;
    position: relative; }
    .contain .duty_box .cha_box .charity h1 span {
      font-size: 26px;
      color: #e9b300;
      margin-left: 10px; }
    .contain .duty_box .cha_box .charity h1 :after {
      display: block;
      width: 450px;
      height: 1px;
      background-image: linear-gradient(to right, #e9b300, #fff);
      content: "";
      position: absolute;
      top: 50%;
      right: 0; }
    .contain .duty_box .cha_box .charity h1 :before {
      display: block;
      width: 450px;
      height: 1px;
      background-image: linear-gradient(to left, #e9b300, #fff);
      content: "";
      position: absolute;
      top: 50%;
      left: 0; }
  .contain .duty_box .cha_box .charity .cs_det {
    padding: 70px 0 0; }
    .contain .duty_box .cha_box .charity .cs_det img {
      width: 500px;
      height: auto; }
    .contain .duty_box .cha_box .charity .cs_det .ch_p {
      width: 700px;
      box-sizing: border-box;
      padding: 30px; }
      .contain .duty_box .cha_box .charity .cs_det .ch_p p {
        font-size: 22px;
        line-height: 36px;
        text-indent: 40px; }
.contain .duty_box .duty_c .dc {
  width: 1200px;
  height: auto;
  margin: 80px auto; }
  .contain .duty_box .duty_c .dc .dc_det {
    padding: 70px 0 0; }
    .contain .duty_box .duty_c .dc .dc_det .dc_p {
      width: 646px;
      height: auto; }
      .contain .duty_box .duty_c .dc .dc_det .dc_p p {
        font-size: 22px;
        line-height: 36px;
        text-indent: 40px;
        margin-top: 50px;
        padding-right: 30px; }
      .contain .duty_box .duty_c .dc .dc_det .dc_p .p_t {
        margin-top: 20px; }
    .contain .duty_box .duty_c .dc .dc_det img {
      width: 554px; }
.contain .contact_box .bg_box {
  width: 100%;
  height: 500px;
  background: url("../images/con_bg.png") no-repeat center center; }
.contain .contact_box .con_box .con {
  width: 1200px;
  height: auto;
  padding: 50px 0;
  margin: 0 auto; }
  .contain .contact_box .con_box .con h1 {
    margin-top: 50px;
    text-align: center;
    display: block;
    position: relative; }
    .contain .contact_box .con_box .con h1 span {
      font-size: 26px;
      color: #e9b300;
      margin-left: 10px; }
    .contain .contact_box .con_box .con h1 :after {
      display: block;
      width: 450px;
      height: 1px;
      background-image: linear-gradient(to right, #e9b300, #fff);
      content: "";
      position: absolute;
      top: 50%;
      right: 0; }
    .contain .contact_box .con_box .con h1 :before {
      display: block;
      width: 450px;
      height: 1px;
      background-image: linear-gradient(to left, #e9b300, #fff);
      content: "";
      position: absolute;
      top: 50%;
      left: 0; }
  .contain .contact_box .con_box .con .con_us {
    padding: 50px 0 0; }
    .contain .contact_box .con_box .con .con_us .map {
      width: 700px;
      height: 580px;
      box-sizing: border-box; }
    .contain .contact_box .con_box .con .con_us .con_info {
      width: 500px;
      height: 500px; }
      .contain .contact_box .con_box .con .con_us .con_info .p_o {
        margin-top: 160px;
        font-weight: bolder;
        font-size: 26px;
        line-height: 30px; }
      .contain .contact_box .con_box .con .con_us .con_info .p_two {
        margin: 30px 0; }
        .contain .contact_box .con_box .con .con_us .con_info .p_two span {
          font-size: 18px;
          line-height: 18px;
          color: #595959;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px; }
        .contain .contact_box .con_box .con .con_us .con_info .p_two .phone {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          background: url("../images/phone.png") no-repeat center;
          background-size: contain; }
        .contain .contact_box .con_box .con .con_us .con_info .p_two .adress {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          background: url("../images/adress.png") no-repeat center;
          background-size: contain; }
        .contain .contact_box .con_box .con .con_us .con_info .p_two .email {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          background: url("../images/email.png") no-repeat center;
          background-size: contain; }
.contain .vedio_box .bg_box {
  width: 100%;
  height: 500px;
  background: url("../images/ved_bg.png") no-repeat center center; }
.contain .vedio_box .ved_box {
  width: 1200px;
  height: auto;
  padding: 50px 0;
  margin: 0 auto; }
  .contain .vedio_box .ved_box h1 {
    margin-top: 50px;
    text-align: center;
    display: block;
    position: relative; }
    .contain .vedio_box .ved_box h1 span {
      font-size: 26px;
      color: #e9b300;
      margin-left: 10px; }
    .contain .vedio_box .ved_box h1 :after {
      display: block;
      width: 450px;
      height: 1px;
      background-image: linear-gradient(to right, #e9b300, #fff);
      content: "";
      position: absolute;
      top: 50%;
      right: 0; }
    .contain .vedio_box .ved_box h1 :before {
      display: block;
      width: 450px;
      height: 1px;
      background-image: linear-gradient(to left, #e9b300, #fff);
      content: "";
      position: absolute;
      top: 50%;
      left: 0; }
  .contain .vedio_box .ved_box .ve_det {
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .contain .vedio_box .ved_box .ve_det .li_de {
      width: 350px;
      height: 480px;
      padding: 0 25px; }
      .contain .vedio_box .ved_box .ve_det .li_de h3 {
        text-align: center; }
      .contain .vedio_box .ved_box .ve_det .li_de p {
        margin-top: 15px;
        text-indent: 28px;
        font-size: 14px;
        line-height: 20px;
        padding: 0 5px; }
      .contain .vedio_box .ved_box .ve_det .li_de ul {
        overflow: hidden;
        margin-top: 10px; }
        .contain .vedio_box .ved_box .ve_det .li_de ul span {
          font-size: 16px;
          line-height: 20px; }
        .contain .vedio_box .ved_box .ve_det .li_de ul li:first-child {
          margin-left: 5px;
          float: left; }
        .contain .vedio_box .ved_box .ve_det .li_de ul li:last-child {
          margin-right: 5px;
          float: right; }
      .contain .vedio_box .ved_box .ve_det .li_de img {
        width: 340px;
        height: auto;
        display: block;
        margin: 10px auto; }
      .contain .vedio_box .ved_box .ve_det .li_de .downl a {
        color: #7e7979;
        margin: 25px 5px;
        width: 120px;
        height: 30px;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        border: 1px solid #7e7979;
        display: block;
        border-radius: 10px; }
        .contain .vedio_box .ved_box .ve_det .li_de .downl a:hover {
          color: #FFF;
          border: 1px solid #e9b300;
          background-color: #e9b300; }

/*# sourceMappingURL=style.css.map */
