* {
    padding: 0;
    margin: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.contain {
    nav {
        width: 1200px;
        height: auto;
        margin: 0 auto;
        line-height: 0;
        font-size: 0;
    }
    .logo_box {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        .logo {
            height: 60px;
            width: auto;
        }
    }
    .nav_bs {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        -moz-box-shadow: 0px 0px 6px #555;
        box-shadow: 0px 0px 6px #555;
    }
    .nav_box {
        display: inline-block;
        margin-left: 133px;
        background-color: rgba(255, 255, 255, 0.8);
        vertical-align: top;
        ul {
            display: block;
            width: 940px;
            padding: 0 10px;
            li {
                display: inline-block;
                width: 156px;
                height: 60px;
                a {
                    display: block;
                    text-align: center;
                    line-height: 60px;
                    font-size: 20px;
                    color: #333;
                    font-weight: bold;
                    position: relative;
                    &:hover {
                        color: #1d2b66;
                        .h_a {
                            width: 160px;
                        }
                    }
                }
                .h_a {
                    width: 0px;
                    content: "";
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    display: block;
                    background-color: #e9b300;
                    height: 3px;
                    transition: width 0.5s;
                    -webkit-transition: width 0.5s;
                }
            }
        }
    }
    .change_lan {
        display: inline-block;
        vertical-align: top;
    }
    .ly {
        background-color: rgba(244, 244, 244, 1);
        padding: 50px 0;
        h1 {
            text-align: center;
            display: block;
        }
        .ly_b {
            width: 1200px;
            background-color: red;
            margin: 30px auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .ly_d {
                width: 300px;
                height: 450px;
                background-color: green;
                text-align: center;
                padding: 20px 10px;
                h2 {
                    margin-top: 10px;
                }
                >p {
                    font-size: 18px;
                    line-height: 26px;
                    padding: 20px 10px;
                    text-indent: 25px;
                }
            }
        }
    }
    .jj {
        background-color: #fff;
        padding: 50px 0;
        .jj_box {
            margin: 0 auto;
            width: 1200px;
            height: auto;
            .ns_img {
                width: 400px;
                height: auto;
                img {
                    width: 400px;
                    height: auto;
                }
            }
        }
        .com_box {
            width: 800px;
            padding: 20px;
            box-sizing: border-box;
        }
    }
}